version: "3.9"
services:
  backend:
    build: ./backend
    environment:
      DATABASE_URL: postgres://app_rcp:3PD*zdJRnqWr5i6H^pV$$wzYEmD$$brBFh@172.17.90.2:5432/rcp
      TZ: Europe/Warsaw
    expose:
      - "3001"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    networks:
      - pako-network

  frontend:
    build: ./frontend
    environment:
      TZ: Europe/Warsaw
    expose:
      - "5173"
    depends_on:
      - backend
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    networks:
      - pako-network

  nginx:
    image: nginx:alpine
    container_name: pako-nginx-ssl
    restart: unless-stopped
    ports:
      - "443:443"
      - "80:80"
      - "30010:30010"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/ssl/certs/rcp.crt:/etc/ssl/certs/rcp.crt:ro
      - /etc/ssl/private/rcp.key:/etc/ssl/private/rcp.key:ro
    depends_on:
      - backend
      - frontend
    networks:
      - pako-network

networks:
  pako-network:
    driver: bridge
